// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: black;
    color: white;
}
.index {
    .article {
        a {
            margin: 12px;
            color: white;
            text-decoration: none;
            .back {
                padding: 12px 0;
                background-color: #222;
                img {
                    text-align: center;
                }
            }
        }
    }
}
.create {
    .article {
        margin-top: 12px;
        .back {
            input, select, textarea {
                margin-bottom: 8px;
                background-color: #444;
                color: white;
            }
            margin: 12px 0;
            background-color: #222;
            padding: 12px 0;
            img {
                text-align: center;
            }
            .tag {
                vertical-align: middle;
                font-weight: bold;
                label {
                    margin: 0 ;
                    margin-left: 4px;
                }
                input {
                    margin: 0;
                }
            }
        }

    }
}

.show {
    .button {
        margin-top: 12px;
        a {
            margin-right: 8px;
        }
        form {
            display: inline;
        }
    }
    .article {
        margin-top: 12px;
        margin: 12px 0;
        .back {
            background-color: #222;
            padding: 12px 0;
            img {
                text-align: center;
            }
        }
    }
}

.tag {
    display: inline-block;
    background-color: rgb(69, 103, 69);
    padding:0  8px;
    border-radius: 8px;
    margin-right: 4px;
    margin-bottom: 8px;
}